[submodule "cli/extern/cppcodec"]
	path = cli/cppbakery/extern/cppcodec
	url = https://github.com/tplgy/cppcodec.git
[submodule "cli/extern/libmacaroons"]
	path = cli/cppbakery/bakery/extern/libmacaroons
	url = git@github.com:nickrobison-usds/libmacaroons.git
	branch = json
[submodule "cli/extern/fmt"]
	path = cli/extern/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "cli/extern/spdlog"]
	path = cli/extern/spdlog
	url = https://github.com/gabime/spdlog.git
