<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Buffalo - Cms Authz</title>
    <%= stylesheetTag("application.css") %>
    <meta name="csrf-param" content="authenticity_token" />
    <link rel="icon" href="<%= assetPath(" images/favicon.ico") %>">
</head>

<body>

    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-9 col-xs-10 titles">
                    <h1>ACO Key Management</h1>
                </div>
            </div>
        </div>
    </header>

    <div class="row">
        <div class="col-md-12">
            <div class=" subtitle d-flex flex-column flex-md-row align-items-center px-md-4">

                <span class="my-0 ml-auto"></span>

                <%= if (current_user) { %>
                <h5 class="my-0 mr-md-auto mr-md-3 font-weight-normal">Hello,
                    <%=current_user.Name %>
                </h5>
                <nav class="my-2 my-md-0 mr-md-3">
                    <a class="p-2 text-light" href="/api/acos/index">ACOs</a>
                    <a class="p-2 text-light" href="/api/vendors/index">Vendors</a>
                    <a class="p-2 text-light" href="/api/users/index">Users</a>
                </nav>
                <a class="btn btn-outline-light mr-md-3 text-light" href="/auth/logout">Log out</a>
                <% } else { %>
                <button type="button" class="btn btn-outline-light mr-md-3 text-light" data-toggle="modal" data-target="#loginModal">Login</button>
                <% } %>
            </div>
        </div>
    </div>

    <%= partial("modals/login.html") %>


    <div class="container">
        <%= partial("flash.html") %>
        <%= yield %>
    </div>

    <%= javascriptTag("application.js") %>
</body>

</html>
