<header>
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-10 titles">
                <h1>ACO Key Management</h1>
            </div>
        </div>
    </div>
</header>

<div class="row">
    <div class="col-md-12">
        <div class=" subtitle d-flex flex-column flex-md-row align-items-center px-md-4">
            <h5 class="my-0 mr-md-auto mr-md-3 font-weight-normal">Lists of things</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-light" href="#">ACOs</a>
                <a class="p-2 text-light" href="#">Vendors</a>
                <a class="p-2 text-light" href="#">Users</a>
            </nav>
            <button type="button" class="btn btn-outline-light mr-md-3 text-light" data-toggle="modal" data-target="#loginModal">Login</button>
        </div>
    </div>
</div>


<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden=true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalTitle">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden=true">&times;</span></button>
            </div>
            <div class="modal-body">
                Body goes here
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-primary" href="/auth/openid-connect">Login</a>
            </div>
        </div>
    </div>
</div>
